body {
    margin: 0;
    background-color: white;
}
.top {
    background-color: yellow;    
    width: 100px;
    height: 100px;

    
}
.middle {
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 100px;
}
.bottom {
    background-color:  red;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 200px;
    top: 200px;
}